<%= render partial: 'shared/f-header'%>

<div class = 'return'>
  <div class = 'return__message'>
    <span>投稿記事を削除しました</div>
  </div>
  <div class = 'return__btn'>
    <%= link_to 'トップページに戻る', articles_path %>
  </div>
</div>