<div class = 'header'>
  <%= render partial: 'shared/header'%>
</div>

<div class = 'search'>
  <div class = 'search__title'>
    <span>検索結果</span>
  </div>
  <div class = 'search__result'>
    <%= render partial: 'shared/card' %>
  </div>
</div>