<%= render partial: 'shared/f-header'%>

<div class = 'f-index'>
  <span class = 'f-index__title'>
    Results
  </span>
</div>

<div class = 'f-contents'>
  <%= render partial: 'shared/f-card' %>
</div>
