<div class = 'f-image'>
  <div class = 'f-image__one'>
    <span class = 'f-image__one--text'>あなたのアイデアで</span>
  </div>
  <div class = 'f-image__two'>
    <span class = 'f-image__two--text'>暮らしを便利に。</span>
  </div>
</div>