<% @likes.each do |like| %>
  <section class='card'>
    <a href='/articles/<%= like.article.id %>'>
      <%= image_tag like.article.image.url, class: 'card__img' %>
      <div class='card__content'>
        <h1 class='card__text'>
          <%= like.article.title %>
        </h1>
      </div>
      <div class = 'card__likes'>
        <i class='fas fa-heart'></i>
        <% if like.article.likes_count.present? %>
          <p><%= like.article.likes_count %></p>
        <% else %>
          <p>0</p>
        <% end %>
      </div>
    </a>
  </section>
<% end %>