//ヘッダー部分
.header {
  width: 100vw;
  height: 70px;
  background-color: white;
  box-shadow: 0 0 8px gray;
  display: flex;
  position: relative;
  &__contents {
  width: 100px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  a {
    text-decoration: none;
    color:$dark-blue;
    font-weight: bold;
    font-size: 25px;
    }
  }
  &__search {
    position: absolute;
    top: 15px;
    right: 500px;
    #search-form{
      #search-field {
        width: 300px;
        height: 35px;
        background-color: #EEEEEE;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      #search-btn {
        width: 70px;
        height: 35px;
        border-style: none;
        border: solid;
        border-color: $dark-blue;
        border-width: 1px;
        color: $dark-blue;
      }
    }
  }
  &__name {
    position: absolute;
    top: 20px;
    right: 380px;
    font-size: 17px;
    color: #BBBBBB;
  }
  &__new {
    height: 30px;
    width: 80px;
    position: absolute;
    right: 250px;
    top: 20px;
    text-align: center;
    line-height: 30px;
    a {
      text-decoration: none;
      color: $dark-blue;
      font-size: 15px;
    }
  }
  &__btn {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    .post {
      @include btn-blue;
    }
  }
  &__create {
    position: absolute;
    top: 20px;
    right: 150px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    .post {
      @include btn-blue;
    }
    a {
      @include btn-blue;
    }
  }
}

.contents{
  background-color: $back-gray;
  height: 100%;
  width: 100%;
//カテゴリー選択部分
  .filters {
    height: 60px;
    width: 1200px;
    margin: 0 auto;
    @include border-bottom;

    &__category {
      display: flex;
      padding-left: 20px;
      line-height: 60px;
      li {
        padding-left: 20px;
      }
      a {
        text-decoration: none;
        color: $dark-blue;
      }
    }
  }

  //人気投稿一覧部分
  .popular {
    @include box;
    span {
      @include title-text
    }
    .card {
      @include card-body;
      &__img {
        @include card-img;
      }
      &__content {
        padding-top: 10px;
      }
      &__text {
        @include card-text
      }
      &__likes {
        @include card-likes;
        i {
          @include card-icon;
        }
        p {
          font-size: 18px;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }

  //新着記事一覧部分
  .arrival {
    @include box;
    span {
      @include title-text
    }
    .card {
      @include card-body;
      &__img {
        @include card-img;
      }
      &__content {
        padding-top: 10px;
      }
      &__text {
        @include card-text
      }
      &__likes {
        @include card-likes;
        i {
          @include card-icon;
        }
        p {
          font-size: 18px;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}

