//ヘッダー部分
.header {
  width: 100vw;
  height: 70px;
  background-color: white;
  box-shadow: 0 0 8px gray;
  display: flex;
  position: relative;
  &__contents {
  width: 100px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  a {
    text-decoration: none;
    color:$dark-blue;
    font-weight: bold;
    font-size: 25px;
    }
  }
  &__search {
    position: absolute;
    top: 15px;
    right: 650px;
    display: flex;
    #search-field {
      width: 300px;
      height: 35px;
      background-color: #EEEEEE;
      border-radius: 5px;
      border: 1px solid #ccc;
      display: inline-block;
    }
    #search-btn {
      width: 70px;
      height: 35px;
      display: inline-block;
      border: solid;
      border-color: $dark-blue;
      border-width: 1px;
      color: $dark-blue;
      font-size: 15px;
    }
  }
  &__name {
    position: absolute;
    top: 20px;
    right: 380px;
    font-size: 17px;
    color: #BBBBBB;
  }
  &__new {
    height: 30px;
    width: 80px;
    position: absolute;
    right: 250px;
    top: 20px;
    text-align: center;
    line-height: 30px;
    a {
      text-decoration: none;
      color: $dark-blue;
      font-size: 15px;
    }
  }
  &__btn {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    .post {
      @include btn-blue;
    }
  }
  &__create {
    position: absolute;
    top: 20px;
    right: 150px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    .post {
      @include btn-blue;
    }
    a {
      @include btn-blue;
    }
  }

  .menu {
    width: 400px;
    height: 70px;
    position: absolute;
    right: 30px;
    top: 20px;
    li {
      list-style: none;
      position: relative;
      
      a {
        display: block;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        text-decoration: none;
        width: 100%;
        color: gray;
        border: solid 1px gray;
      }
      li {
        height: 0;
        overflow: hidden;
        transition: .5s;
        a {
          font-size: 15px;
        }
      }
    }
  }
  .menu > li {
    width: 25%;
  }
  .menu li:hover > ul > li {
    height: 2rem;
    overflow: visible;
  }
}

.contents{
  background-color: $back-gray;
  height: 100%;
  width: 100%;
//カテゴリー選択部分
  .filters {
    height: 60px;
    width: 1200px;
    margin: 0 auto;
    @include border-bottom;

    &__category {
      display: flex;
      padding-left: 20px;
      line-height: 60px;
      li {
        padding-left: 20px;
      }
      a {
        text-decoration: none;
        color: $dark-blue;
      }
    }
  }

  //人気投稿一覧部分
  .popular {
    @include box;
    span {
      @include title-text
    }
    .card {
      @include card-body;
      &__img {
        @include card-img;
      }
      &__content {
        padding-top: 10px;
      }
      &__text {
        @include card-text
      }
      &__likes {
        @include card-likes;
        i {
          @include card-icon;
        }
        p {
          font-size: 18px;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }

  //新着記事一覧部分
  .arrival {
    @include box;
    &__text {
      @include title-text
    }
    .card {
      @include card-body;
      opacity: 0;
      transition: 2s;
      margin-top: 500px;
      &__img {
        @include card-img;
      }
      &__content {
        padding-top: 10px;
      }
      &__text {
        @include card-text
      }
      &__likes {
        @include card-likes;
        i {
          @include card-icon;
        }
        p {
          font-size: 18px;
        }
      }
      a {
        text-decoration: none;
      }
    }
    .card.showUp {
      opacity: 1;
      margin-top: 50px;
    }
    .pagination {
      position: absolute;
      top: 0px;
      right: 20px;
    }
  }
}

