.f-title {
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1507494924047-60b8ee826ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2766&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  &__top {
    height: 100px;
    display: flex;
    position: relative;
    &__logo {
      font-size: 50px;
      line-height: 100px;
      padding-left: 80px;
      display: inline-block;
      i {
        color: #FFCC33;
      }
      span {
        font-weight: 900;
        color: #0066FF;
        padding-left: 20px;
        font-family: 'Alata', sans-serif;
      }
    }
    &__navigation {
      display: flex;
      position: absolute;
      right: 200px;
      height: 75%;
      line-height: 100px;
      font-size: 18px;
      font-weight: bold;
      &__first {
        padding-right: 100px;
        &--start {
          text-decoration: none;
          color: white;
        }
      }
      &__first:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 50px;
        height: 2px;
        background: #0066FF;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
      }
      &__first:hover:after {
        bottom: -4px;
        opacity: 1;
        visibility: visible;
      }
      &__second {
        padding-right: 100px;
        &--login {
          text-decoration: none;
          color: white;
        }
      }
      &__second:after {
        position: absolute;
        bottom: 0;
        left: 148px;
        content: '';
        width: 45px;
        height: 2px;
        background: #0066FF;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
      }
      &__second:hover:after {
        bottom: -4px;
        opacity: 1;
        visibility: visible;
      }
      &__third {
        i {
          color: white;
        }
        &--signup {
          text-decoration: none;
          color: white;
        }
      }
      &__third:after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        width: 90px;
        height: 2px;
        background: #0066FF;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
      }
      &__third:hover:after {
        bottom: -4px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__text {
    width: 100%;
    padding-top: 30px;
    &__high {
      color: white;
      font-family: 'Ropa Sans', sans-serif;
      text-align: center;
      font-size: 170px;
    }
    &__bottom {
      color: #0066FF;
      font-size: 170px;
      font-family: 'Ropa Sans', sans-serif;
      text-align: center;
    }
    &__about {
      color: white;
      text-align: center;
      padding-top: 30px;
      font-size: 20px;
    }
  }
}