
.block{
  background-color: white;
  height: 100%;
  width: 100vw;
  //ユーザー表示部分
  &__user {
    height: 200px;
    padding-top: 70px;
    &__image {
      width: 100px;
      height: 100px;
      background-color: gray;
      margin: 0 auto 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 120px;
      i {
        font-size: 50px;
      }
    }
    &__name {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
  }
  //選択部分
  &__choice {
    width: 700px;
    display: flex;
    margin: 0 auto;
    @include border-bottom;
    li {
      margin: 0 auto;
      a {
        text-decoration: none;
        color: black;
      }
      a:hover {
        color: gray;
      }
    }
    
  }

  //記事部分
  .mypost {
    width: 100vw;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    .card {
      width: 300px;
      height: 400px;
      background: #fff;
      margin: 40px auto;
      box-shadow: 0 2px 5px #ccc;
      position: relative;
      &__img {
        max-width: 100%;
        height: 300px;
      }
      &__content {
        padding-top: 10px;
      }
      &__text {
        @include card-text
      }
      &__likes {
        @include card-likes;
        i {
          @include card-icon;
        }
        p {
          font-size: 18px;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}