.notice {
  color: #FFFF99;
  background-color: #DDFFFF;
  text-align: center;
  font-weight: bold;
}
.alert {
  color: white;
  background-color: #FF773E;
  text-align: center;
  font-weight: bold;
}