//タイトルページ　ボタン部分
@mixin link-text {
  text-decoration: none;
  line-height: 80px;
  color: white;
}

// トップページ　記事周り
@mixin box {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
  border-bottom: solid;
  border-width: 1px;
  border-color: #DDDDDD;
  position: relative;
  display: flex;
}

@mixin title-text {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 20px;
  font-weight: bold;
}

@mixin card-body {
  width: 350px;
  height: 500px;
  background: #fff;
  margin: auto;
  box-shadow: 0 2px 5px #ccc;
  position: relative;
}

@mixin card-img {
  max-width: 100%;
  height: 400px;
}

@mixin card-text {
  font-size: 22px;
  color: #333;
}

@mixin card-likes {
  display: flex;
  margin-top: 20px;
  position: absolute;
  right: 30px;
}

@mixin card-icon {
  color: red;
  padding-right: 10px;
  padding-top: 3px;
  font-size: 20px;
}

// border-bottom
@mixin border-bottom {
  border-bottom: solid;
  border-width: 1px;
  border-color: #DDDDDD;
}

@mixin btn-blue {
  color: $dark-blue;
  text-decoration: none;
}

@mixin input-radius {
  border-radius: 3px;
  border: 1px solid $border-gray;
}